{% include "header.html" ignore missing %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">

        <h1>

            REGISTRAR ENTRADA DE EVIDENCIAS AL DEPOSITO

        </h1>

        <ol class="breadcrumb">

            <li><a href="/index"><i class="fa fa-dashboard"></i> INICIO</a></li>

            <li class="active">REGISTRAR ENTRADA</li>

        </ol>

    </section>

    <section class="content">

        <div class="box">

            <div class="box-header with-border">

                <button class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarEntrada">

                    AGREGAR ENTRADA

                </button>

            </div>

            <div class="box-body">

                <table class="table table-bordered table-striped dt-responsive" width="100%">

                    <thead>

                    <tr>
                        <th>Id</th>
                        <th>Referencia</th>
                        <th>Fecha</th>
                        <th>Caratula</th>
                        <th>Instrumento</th>
                        <th>Estado</th>
                        <th>Observacion</th>
                        <th>Nro de oficio</th>
                        <th>Usuario</th>
                        <th>Ubicacion</th>
                        <th>Acciones</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for entrada in entra %}
                    <tr>
                        <th>{{entrada.id_entrada}}</th>
                        <td>{{entrada.referencia}}</td>
                        <td>{{entrada.fecha}}</td>
                        <td>{{entrada.caratula}}</td>
                        <td>{{entrada.instrumento}}</td>
                        <td>{{entrada.estado}}</td>
                        <td>{{entrada.observacion}}</td>
                        <td>{{entrada.nro_oficio}}</td>
                        <td>{{entrada.nombres}}</td>
                        <td>{{entrada.descripcion}}</td>
                        <td>

                            <div class="btn-group">

                                <button class="btn btn-warning" name="id_entrada"
                                        id_entrada="{{entrada.id_entrada}}"
                                        data-toggle="modal" data-target="#modalEditarEntrada"><i
                                        class="fa fa-pencil"></i></button>

                                <a class="btn btn-danger" href="/desactivate/{{entrada.id_entrada}}"><i
                                        class="fa fa-times"></i></a>

                            </div>

                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>

                </table>


            </div>

        </div>

    </section>

</div>

<div id="modalAgregarEntrada" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <form role="form" action="regentrada" method="post" enctype="multipart/form-data">

                <div class="modal-header" style="background:#3c8dbc; color:white">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Agregar entrada</h4>

                </div>

                <div class="modal-body">

                    <div class="box-body">

                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="referencia" name="referencia"
                                       placeholder="Ingresar referencia" required>

                            </div>

                        </div>


                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="caratula" name="caratula"
                                       placeholder="Ingresar caratula" required>

                            </div>

                        </div>

                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="instrumento" name="instrumento"
                                       placeholder="Ingresar instrumento" required>

                            </div>

                        </div>
                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="tipo" name="tipo"
                                       placeholder="Ingresar tipo instrumento" required>

                            </div>

                        </div>
                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="estado" name="estado"
                                       placeholder="Estado" value="activo">

                            </div>

                        </div>
                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="observacion" name="observacion"
                                       placeholder="Ingresar observaciones" required>

                            </div>

                        </div>
                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="nro_oficio" name="nro_oficio"
                                       placeholder="Ingresar numero de oficio" required>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-code"></i></span>
                                <select class="form-control input-lg" name="id_ubicacion" required>
                                    {%for ubi in ubicacion %}
                                    <option value="" disabled selected hidden>Seleccionar Ubicacion</option>
                                    <option value="{{ubi['id_ubicacion']}}">{{ubi['descripcion']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>

                    <button type="submit" class="btn btn-primary">Guardar entrada</button>

                </div>

            </form>


        </div>

    </div>

</div>


<div id="modalEditarEntrada" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <form role="form" action="/update/entrada" method="post">

                <div class="modal-header" style="background:#3c8dbc; color:white">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Editar entrada</h4>

                </div>

                <div class="modal-body">

                    <div class="box-body">

                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="id_entrada" name="id_entrada"
                                       placeholder="Ingresar ID" required>

                            </div>

                        </div>

                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="referencia" name="referencia"
                                       placeholder="Ingresar referencia" required>

                            </div>

                        </div>


                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="caratula" name="caratula"
                                       placeholder="Ingresar caratula" required>

                            </div>

                        </div>

                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="instrumento" name="instrumento"
                                       placeholder="Ingresar instrumento" required>

                            </div>

                        </div>
                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="tipo" name="tipo"
                                       placeholder="Ingresar tipo instrumento" required>

                            </div>

                        </div>

                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="observacion" name="observacion"
                                       placeholder="Ingresar observaciones" required>

                            </div>

                        </div>
                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-code"></i></span>

                                <input type="text" class="form-control input-lg" id="nro_oficio" name="nro_oficio"
                                       placeholder="Ingresar numero de oficio" required>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-code"></i></span>
                                <select class="form-control input-lg" name="id_ubicacion" required>
                                    {%for ubi in ubicacion %}
                                    <option value="" disabled selected hidden>Seleccionar Ubicacion</option>
                                    <option value="{{ubi['id_ubicacion']}}">{{ubi['descripcion']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>

                    <button type="submit" class="btn btn-primary">Guardar cambios</button>

                </div>

            </form>


        </div>

    </div>

</div>

<!-- /.content-wrapper -->

{% include "footer.html" ignore missing %}