{% include "header-login.html" ignore missing %}


<div class="login-box">

    <div class="login-logo">

        <img src="../static/dist/sis/icono-sis.png" class="img-responsive" style="padding:30px 100px 0px 100px">

    </div>
    {% with messages = get_flashed_messages(category_filter=['login']) %} {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="login-box-body">

        <p class="login-box-msg">Ingresar al sistema</p>

        <form action="login" method="post">

            <div class="form-group has-feedback">

                <input type="email" class="form-control" placeholder="Correo electronico" name="correo" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>

            </div>

            <div class="form-group has-feedback">

                <input type="password" class="form-control" placeholder="Contraseña" name="contrasena" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>

            </div>

            <div class="row">

                <div class="col-xs-4">

                    <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>

                </div>

            </div>

        </form>

    </div>

</div>

{% include "footer-login.html" ignore missing %}