{% include "header.html" ignore missing %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">

        <h1>

            REGISTRAR UBICACIÓN DENTRO DEL DEPOSITO

        </h1>

        <ol class="breadcrumb">

            <li><a href="/index"><i class="fa fa-dashboard"></i>INICIO</a></li>

            <li class="active">REGISTRAR UBICACIÓN</li>

        </ol>

    </section>

    <section class="content">

        <div class="box">

            <div class="box-header with-border">

                <button class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarUbicacion">

                    AGREGAR UBICACIÓN

                </button>

            </div>

            <div class="box-body">

                <table class="table table-bordered table-striped dt-responsive" width="100%">

                    <thead>

                    <tr>
                        <th>Id</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Creado en</th>
                        <th>Creado por</th>
                        <th>Deposito</th>
                        <th>Acciones</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for ubi in ubicaciones %}
                    <tr>
                        <td>{{ubi.id_ubicacion}}</td>
                        <td>{{ubi.descripcion}}</td>
                        <td>{{ubi.estado}}</td>
                        <td>{{ubi.creado_en}}</td>
                        <td>{{ubi.nombres}}</td>
                        <td>{{ubi.descri}}</td>
                        <td>

                            <div class="btn-group">

                                <button class="btn btn-warning" name="id_ubicacion" data-toggle="modal"
                                        data-target="#modalEditarUbicacion"><i class="fa fa-pencil"></i></button>

                                <a class="btn btn-danger" href="/del/{{ubi.id_ubicacion}}"><i class="fa fa-times"></i></a>

                            </div>

                        </td>

                    </tr>
                    {%endfor%}

                    </tbody>

                </table>


            </div>

        </div>

    </section>

</div>

<div id="modalAgregarUbicacion" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <form action="/regubicacion" role="form" method="post">

                <div class="modal-header" style="background:#3c8dbc; color:white">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Agregar Ubicación</h4>

                </div>

                <div class="modal-body">

                    <div class="box-body">

                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>

                                <input type="text" class="form-control input-lg" name="descripcion"
                                       placeholder="Ingresar descripción" required>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
                                <select class="form-control input-lg" name="estado">
                                    <option value="" disabled selected hidden>Seleccionar estado de la ubicacion
                                    </option>
                                    <option value="libre">Libre</option>
                                    <option value="ocupado">Ocupado</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
                                <select class="form-control input-lg" name="id_deposito">
                                    {%for deposito in depositos %}
                                    <option value="" disabled selected hidden>Seleccionar deposito</option>
                                    <option value="{{deposito['id_deposito']}}">{{deposito['descripcion']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>

                    <button type="submit" class="btn btn-primary">Guardar Deposito</button>

                </div>

            </form>


        </div>

    </div>

</div>


<div id="modalEditarUbicacion" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <form action="/update/ubicacion" role="form" method="post">

                <div class="modal-header" style="background:#3c8dbc; color:white">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Editar deposito</h4>

                </div>

                <div class="modal-body">

                    <div class="box-body">

                        <div class="form-group">
                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>

                                <input type="text" class="form-control input-lg" name="id_ubicacion" id="id_ubicacion">

                            </div>
                        </div>


                        <div class="form-group">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>

                                <input type="text" class="form-control input-lg" name="descripcion"
                                       placeholder="Ingresar descripción" required>

                            </div>

                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
                                <select class="form-control input-lg" name="estado">
                                    <option value="" disabled selected hidden>Seleccionar estado de la ubicacion
                                    </option>
                                    <option value="libre">Libre</option>
                                    <option value="ocupado">Ocupado</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-circle"></i></span>
                                <select class="form-control input-lg" name="id_deposito">
                                    {%for deposito in depositos %}
                                    <option value="" disabled selected hidden>Seleccionar deposito</option>
                                    <option value="{{deposito['id_deposito']}}">{{deposito['descripcion']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                    </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Salir</button>

                    <button type="submit" class="btn btn-primary">Editar ubicacion</button>

                </div>

            </form>


        </div>

    </div>

</div>

<!-- /.content-wrapper -->

{% include "footer.html" ignore missing %}